@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap");

body {
  background-color: lightblue;
  font-family: "Shantell Sans", cursive;
  text-align: center;
}

h1 {
  padding-bottom: 30px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 15px;
  justify-content: center;
  padding-bottom: 30px;
}

form input[type="text"],
form select,
form input[type="date"],
form input[type="time"],
form input[type="submit"] {
  width: 100%;
  box-sizing: border-box;
}

label {
  font-size: large;
}

.table-container {
  max-height: 517px;
  overflow-y: auto;
  position: relative;
  padding-bottom: 30px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: lightgrey;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
}

.table-container td {
  background-color: white;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
}
